*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}
.home{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #ffe1e1, #ff217de0), url(asset/image/background00.jpg);
    transition: all 1s ease;

}
.gift{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gift-img {
    width: 25%;
    position: absolute;        /* Required for top/left */
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center it exactly */
    transition: transform 0.3s ease-out;
}
.gift-img:hover {
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.7s ease-out;
}
.text{
    border: #f0f0f000 solid 10px;
    border-radius: 50%;
    padding: 5px 20px;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.my-fav{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: #fff;
}
#wapper{
    
    display: inline-flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color:#ffadad ;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
}
#wapper .static-text{
    font-size: 50px;
    font-weight: 300;
    margin-right: 10px;
    overflow: hidden;

    
}
#demo{
    max-width: 18rem;
    font-size: 1.3rem;
}
.hidden {
   
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
  }
.next{
    opacity: 0;
   
}
.next-img {
    width: 200px;
    height: auto;
    display: none; /* hide it initially */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}


/* .wapper .dynamic-texts{
    padding: 0;
    overflow: hidden;
    
}
button{
    background-color: #f0f0f0;

} */
/* 
.dynamic-texts li{
    top: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    position: relative;
     animation: sider 20s steps(4) infinite; 
}
 @keyframes sider {
    100%{
        top: -130px;
    }
    
} 
.dynamic-texts li span{
   position: relative;
}
.dynamic-texts li span::after{
    content: '';
    left: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffadad;
    border-left: 2px solid #ffadad;
    animation: typing 5s steps(36) infinite;
}
@keyframes typing {
    100%{
        left:100%;
        margin: 0 -45px 0 45px;
    }
    
} */
